.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
      .benefits-list {
      display: flex;
          & .benefits-item + .benefits-item {
          margin-left: 30px;
        }
    }
      &-features {
      margin-top: 0px;
      margin-bottom: 10px;
    
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--text-color);
    }
    
      &-bottom-text {
      margin: 0px;
    
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--second-text-color);
      max-width: 270px;
      max-height: 75px;
    }
}

.background-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--promo-background-color);
  border-radius: 4px;
}
