:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --promo-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --border-bottom-color: #eeeeee;
  --padding-standart: 94px 0px;
  --soc-icon-color: AFB1B8;
}