.header {
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  margin: auto;

  .link.current {
    color: var(--accent-color);
  }

  .navigation__list {
    display: flex;
    margin-left: 93px;
  }

  .navigation__list .navigation__item + .navigation__item {
    margin-left: 50px;
  }

  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    @include animation;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.current::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
